<div class="container" my-5>
    <h3 class="mb-3">Edit Administrator</h3>

    <form #form="ngForm" (ngSubmit)="updateAdministrator()">
        <div class="form-floating mb-3" style="width: 100%; max-width: 22rem">
            <input type="text" class="form-control" id="id"
            name="Id"
            [(ngModel)] = administratorDetails.Id readonly disabled>
            <label for="id">Id</label>
          </div>
         <div class="form-floating mb-3" style="width: 100%; max-width: 22rem">
            <input type="text" class="form-control" id="firstNameInput" 
            name="FirstName"
            [(ngModel)] = administratorDetails.FirstName>
            <label for="firstNameInput">First name</label>
          </div>
          <div class="form-floating mb-3" style="width: 100%; max-width: 22rem">
            <input type="text" class="form-control" id="lastNameInput" 
            name="LastName"
            [(ngModel)] = administratorDetails.LastName>
            <label for="lastNameInput">Last name</label>
          </div>
          <button type="submit" class="btn btn-primary">Save</button>       
    </form>
</div>